<div class="container">
  <ng-container *ngIf="errorMessage">
    <div class="alert alert-danger d-flex align-items-center">
      <span class="material-icons me-2">error</span>
      {{errorMessage}}
      <span class="material-icons ms-auto" (click)="hideError()">close</span>
    </div>
  </ng-container>
  <div class="card">
    <div class="card-header bg-info text-white text-center">
      {{pageTitle}}
    </div>

    <div class="card-body">
      <form novalidate (ngSubmit)="saveHotel()"  [formGroup]="hotelForm">
        <div class="row form-group mb-2">
          <label for="hotelNameId"  class="col-md-2 col-form-label">
            Nom Hotel
          </label>
          <div class="col-md-8">
            <input id="hotelNameId" type="text" placeholder="Nom de l'hotel" class="form-control" formControlName="hotelName" [ngClass]="{'is-invalid':formErrors.hotelName}">
            <span class="invalid-feedback">{{formErrors.hotelName}}</span>
          </div>
        </div>
        <div class="row form-group my-2">
          <label for="priceId"  class="col-md-2 col-form-label">
            Prix
          </label>
          <div class="col-md-8">
            <input id="priceId" type="text" placeholder="prix de l'hotel" class="form-control" formControlName="price">
          </div>
        </div>
        <div class="row form-group my-2">
          <label for="starRatingId"  class="col-md-2 col-form-label">
            Evaluation (1 - 5)
          </label>
          <div class="col-md-8">
            <input id="starRatingId" type="text" placeholder="Evaluation de l'hotel" class="form-control" formControlName="rating">
          </div>
        </div>
        <div formArrayName="tags">
          <div class="row form-group my-2" *ngFor="let tag of tags.controls; let i=index">
            <label [attr.for]="i"  class="col-md-2 col-form-label">
              Etiquette-{{i}}
            </label>
            <div class="col-md-8">
              <input [attr.id]="i" type="text" placeholder="Etiquette" class="form-control" [formControlName]="i">
            </div>
            <button class="col-md-2 btn-outline-danger btn-sm btn" (click)="deleteTags(i)">
              Supprimer
            </button>
          </div>
        </div>

        <div class="row ">
          <div class="col-md-2 mb-2">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="addTags()">
              Ajouter une etiquette
            </button>
          </div>
        </div>
        <div class="row form-group my-2">
          <label for="descriptionId"  class="col-md-2 col-form-label">
            Description
          </label>
          <div class="col-md-8">
            <textarea id="descriptionId" class="form-control" placeholder="Entrez une description de l'hotel" formControlName="description"></textarea>
          </div>
        </div>
        <div class="row form-group my-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-info mx-3 text-white" type="submit">Sauvegarder</button>
            <button class="btn btn-outline-secondary " type="button" [routerLink]="['/hotels']">Annuler</button>
            <button *ngIf="hotel.id != 0" class="btn btn-outline-danger mx-3" type="button" (click)="deleHotel()"> Supprimer</button>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>
<pre>
  {{hotelForm.value | json}}
</pre>
